{% extends "base.html" %}

{% block header %}
  <h2 class="secondary-header | fs-700 fw-semi-bold text-neutral-900">
    {% block mobile_locator %}{% block title %}New Article{% endblock %}{% endblock %}
  </h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title() }}
    {{ form.body.label }} {{ form.body() }}
    {{ form.image.label }} {{ form.image() }}
    {{ form.caption.label }} {{ form.caption() }}
    {{ form.submit() }}
  </form>

  {{ ckeditor.load() }}

  {{ ckeditor.config(name="body", height=500) }}
  {{ ckeditor.config(name="caption", height=100) }}
  {{ ckeditor.config(custom_config="entities_latin: false, "
  "entities_greek: false, extraAllowedContent: '* span[lang]', "
  "stylesSet: 'styles:/static/styles.js'") }}

{% endblock %}