<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - South Saami</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="page-container">
    <header class="primary-header | bg-primary-400 | columns">
      <h1 class="fs-900 fw-bold"><a href="/">South Saami</a></h1>
      {% if g.user %}
        <a class="right-centred-in-columns" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% endif %}
    </header>
    <main>
      <div class="container">
        <div class="columns">
          <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <span class="nav-locator" aria-hidden="true">{% block mobile_locator %}{% endblock %}</span>
            <img class="icon-hamburger" src="{{ url_for('static', filename='menu.svg') }}" aria-hidden="true">
            <img class="icon-close" src="{{ url_for('static', filename='x.svg') }}" aria-hidden="true">
            <span class="visually-hidden">Menu</span>
          </button>
          <nav class="primary-navigation">
            <ul role="list" class="nav-list" id="primary-navigation">
              {% include "_navigation.html" %}
            </ul>
          </nav>
          <article class="flow">
            <div class="columns">
              {% block header %}{% endblock %}
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                   <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </article>
          <div class="image">
            {% block image %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-neutral-900 text-neutral-100">
      <div class="container">
        <div class="columns">
          <p>Contact us at: <a href="mailto:jack@southsaami.com">jack@southsaami.com</a></p>
          <p id="copyright">Copyright &copy 2022-23 southsaami.com. All Rights Reserved</p>
        </div>
      </div>
  </footer>
  </div>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
