<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Introduction - South Saami</title>
  <meta name="description" content="Introduction to a grammar of South Saami" />
  <meta name="keywords" content="Grammar, Saami, Sami, Sámi, South Saami, South Sami, South Sámi" />
  <link rel="icon" type="image/x-icon" href="static/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div id="page-container">
    <header class="primary-header | bg-primary-400">
      <div class="container">
        <h1 class="fs-900 fw-bold"><a href="#">South Saami</a></h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="columns">
          <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <span class="nav-locator" aria-hidden="true">Introduction</span>
            <img class="icon-hamburger" src="images/menu.svg" aria-hidden="true">
            <img class="icon-close" src="images/x.svg" aria-hidden="true">
            <span class="visually-hidden">Menu</span>
          </button>
          <nav class="primary-navigation">
            <ul role="list" class="nav-list" id="primary-navigation">
              <li class="active"><a href="#">Introduction</a></li>
              <li><a href="fundamentals.html">Fundamentals</a></li>
              <li><a href="#">Nouns</a></li>
              <li><a href="#">Pronouns</a></li>
              <li><a href="#">Verbs</a></li>
              <li><a href="#">Adjectives</a></li>
              <li><a href="#">Numerals</a></li>
              <li><a href="#">Adverbs</a></li>
              <li><a href="#">Prepositions and Postpositions</a></li>
              <li><a href="#">Conjunctions</a></li>
              <li><a href="#">Particles</a></li>
              <li><a href="#">Interjections</a></li>
            </ul>
          </nav>
          <article class="flow">
            <h2 class="secondary-header | fs-700 fw-semi-bold text-neutral-900">Introduction</h2>
            <p>
              This website was designed to host what aims to be the first English
              language grammar of South Saami, an endangered language spoken by
              approximately 600 Saami people on both sides of the border between
              Norway and Sweden in the southwest of the Sápmi region. A map of this
              region and the extent of the different Saami languages is included on
              this page.
            </p>
            <p>
              All the Saami languages have a similar structure and share much basic
              vocabulary. However, beyond this many differences have developed, with
              the result that the languages are not mutually intelligible.
              Particularly notable for South Saami specifically is that it does not
              exhibit consonant gradation, differentiating it from the other Saami
              languages as well as most of the Finno-Ugric group. Furthermore, it has
              separate inessive and elative cases, rather than the locative of e.g.
              North Saami, SOV syntax as default and a system of vowel changes called
              umlaut. It has also been affected by phonological shifts and significant
              influence from Swedish and Norwegian.
            </p>
            <p>
              South Saami grammar will feel quite unfamiliar to English speakers, with its dense system of grammatical
              cases, lack of articles and SOV syntax, in addition to other features including a dual grammatical number,
              no grammatical gender and a negative verb. On the other hand, the Saami languages are closely related to
              the Finnic languages, which includes Finnish and Estonian, having developed from a common
              protolanguage. Thus the two groups share some features, and Finnish speakers in particular will be
              familiar with some of the grammatical concepts. However, the aim has been to make these features
              comprehensible to those who have not come across them before—that is to say, most English speakers.</p>
            <p>This grammar is split into a section on fundamentals, which are relevant across many parts of speech,
              followed by sections on each part of speech. There is no recommended order to read these sections, but
              familiarity with the fundamentals of South Saami grammar (cases, stems, umlaut) and the phonology of the
              language will make the latter sections easier to understand. It is by no means comprehensive and is not
              intended as a language learning course. It also likely contains errors, for which I apologise in advance, 
              and if you have any corrections, comments or suggestions please get in touch by email at 
              <a href="mailto:jack@southsaami.com">jack@southsaami.com</a>.
            </p>
            <p>Finally, it is left only to add that, in producing this resource, I am indebted to the work of Marit
              Fjellheim, Sissel Jåma, Trond Trosterud and Lene Antonsen, whose Norwegian language online mini grammar
              serves as the basis for this resource, as well as my inspiration. For speakers of Norwegian, I direct you
              to their certainly superior effort on the <a href="https://oahpa.no/sma/gramm/grammatikk.nob.html"
                hreflang="nb">OAHPA</a> website. A short bibliography follows, although it is worth mentioning again
              that the majority of these are in Norwegian:</p>
            <div class="bibliography">
              <p>Fjellheim, Marit, Sissel Jåma, Trond Trosterud & Lene Antonsen. 2012. <cite lang="nb">Sørsamisk
                  nettgrammatikk</cite>. Tromsø: <span lang="sma">Aajege og Giellatekno</span>, <span lang="nb">UiT
                  Norges arktiske universitet</span>.</p>
              <p>Bergsland, Knut. 1994. <cite lang="nb">Sydsamisk grammatikk</cite>. <span
                  lang="se">Kárášjohka</span>/Karasjok: <span lang="se">Davvi Girji</span>.</p>
              <p>Magga, Ole Henrik & Lajla Mattsson Magga. 2012. <cite lang="nb">Sørsamisk grammatikk.</cite> <span
                  lang="se">Kárášjohka</span>/Karasjok: <span lang="se">Davvi Girji</span>.</p>
              <p>Sammallahti, Pekka. 1998. <cite>The Saami languages: an introduction.</cite> <span
                  lang="se">Kárášjohka</span>/Karasjok: <span lang="se">Davvi Girji</span>.</p>
            </div>
            <p>The grammar is a work-in-progress: at the moment, only the section on fundamentals has content. The website is
              continually under development, so please come back later!</p>
            <p><a href="#">Back to top</a></p>
          </article>
          <div class="image">
            <a href="/static/Mapping_Sámi_Languages_reduced.jpg" title="Enlarge"><img
                src="static/Mapping_Sámi_Languages_reduced.jpg"
                alt="A map showing the areas in which the different Saami languages are spoken."></a>
            <p>Map of the areas where the different Saami languages are spoken. South Saami is in dark green. Credit:
              Nele Peschel <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC by SA 4.0 license">CC by
                SA 4.0</a></p>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-neutral-900 text-neutral-100">
      <div class="container">
        <div class="columns">
          <p>Contact us at: <a href="mailto:jack@southsaami.com">jack@southsaami.com</a></p>
          <p id="copyright">Copyright &copy 2022-23 southsaami.com. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </div>

  <script type="module" src="static/main.js"></script>
</body>

</html>